@charset "UTF-8";
[data-sort-by='No'] [data-prop-name='No'], [data-sort-by='Status'] [data-prop-name='Status'], [data-sort-by='CurQty'] [data-prop-name='CurQty'], [data-sort-by='SetQty'] [data-prop-name='SetQty'], [data-sort-by='CurMiss'] [data-prop-name='CurMiss'], [data-sort-by='SetMiss'] [data-prop-name='SetMiss'], [data-sort-by='Speed'] [data-prop-name='Speed']{
  background: rgba(0, 0, 0, 0.1);/*	<!-- 選取時背景色, 0.15為陰影程度-->*/
  text-shadow: 0 1px #eee;
}
[data-sort-by='No'] [data-prop-name='No']:before, [data-sort-by='Status'] [data-prop-name='Status']:before, [data-sort-by='CurQty'] [data-prop-name='CurQty']:before, [data-sort-by='SetQty'] [data-prop-name='SetQty']:before, [data-sort-by='CurMiss'] [data-prop-name='CurMiss']:before, [data-sort-by='SetMiss'] [data-prop-name='SetMiss']:before, [data-sort-by='Speed'] [data-prop-name='Speed']:before {
  box-shadow: 0 0 .5em SkyBlue;	/*<!-- 選取時背景邊框色-->*/
}
[data-sort-by='No'] .prop__name[data-prop-name='No'], [data-sort-by='Status'] .prop__name[data-prop-name='Status'], [data-sort-by='CurQty'] .prop__name[data-prop-name='CurQty'], [data-sort-by='SetQty'] .prop__name[data-prop-name='SetQty'], [data-sort-by='CurMiss'] .prop__name[data-prop-name='CurMiss'], [data-sort-by='SetMiss'] .prop__name[data-prop-name='SetMiss'], [data-sort-by='Speed'] .prop__name[data-prop-name='Speed'] {
  color: lightcyan;		/*<!-- 選取時標題字體顏色-->*/
}
[data-sort-by='No'] .prop__name[data-dir='1'][data-prop-name='No']:after, [data-sort-by='Status'] .prop__name[data-dir='1'][data-prop-name='Status']:after, [data-sort-by='CurQty'] .prop__name[data-dir='1'][data-prop-name='CurQty']:after, [data-sort-by='SetQty'] .prop__name[data-dir='1'][data-prop-name='SetQty']:after, [data-sort-by='CurMiss'] .prop__name[data-dir='1'][data-prop-name='CurMiss']:after, [data-sort-by='SetMiss'] .prop__name[data-dir='1'][data-prop-name='SetMiss']:after, [data-sort-by='Speed'] .prop__name[data-dir='1'][data-prop-name='Speed']:after {
  content: '▲';
}
[data-sort-by='No'] .prop__name[data-dir='-1'][data-prop-name='No']:after, [data-sort-by='Status'] .prop__name[data-dir='-1'][data-prop-name='Status']:after, [data-sort-by='CurQty'] .prop__name[data-dir='-1'][data-prop-name='CurQty']:after, [data-sort-by='SetQty'] .prop__name[data-dir='-1'][data-prop-name='SetQty']:after, [data-sort-by='CurMiss'] .prop__name[data-dir='-1'][data-prop-name='CurMiss']:after, [data-sort-by='SetMiss'] .prop__name[data-dir='-1'][data-prop-name='SetMiss']:after, [data-sort-by='Speed'] .prop__name[data-dir='-1'][data-prop-name='Speed']:after {
  content: '▼';
}

* {
  box-sizing: inherit;
}

@font-face{
	font-family: NotoSansCJKtc-Regular;
	src: url(NotoSansCJKtc-Regular.otf);
	
	font-family: NotoSansCJKtc-Medium;
	src: url(NotoSansCJKtc-Medium.otf);
}
	
p {
	font-family: NotoSansCJKtc-Medium;
	font-size: 4.5vw; 
	text-align: center;
	margin: 0.6em;
}
.updateTime{
	font-size: 2vw; 
	font-style: italic;
	position: relative; 
	text-align: right;
	right: 5%;
	margin: 0.5em;
}

head{
	
}

body {		/*Table 標題*/
  background: #555;
  font: 1em/1.25 trebuchet ms, verdana, sans-serif;
  color: #fff;
  font-size: 1.8vw; 
  font-family: NotoSansCJKtc-Medium;
}

table {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0em auto;	 /*Table 位置高度; */
  border-collapse: collapse;
  min-width: 23em;
  width: 90%;
  max-width: 100em;
  border-radius: .5em;
  box-shadow: 0 0 .5em #000;
}

thead {
  background: linear-gradient(#606062, #28262b);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer; 
}

th {
  text-align: center;
}

tbody {		/*Table 內容*/
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 1.3vw;
}
tbody tr:hover {
  background: linear-gradient(#ffffff 2px, #ffffff 2px, #ffffff calc(100% - 2px), #999999 calc(100% - 2px));
  font-size: 1.8vw; 
}

tr {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.odd {
  background: linear-gradient(#eeeeee 1px, #cccccc 1px, #cccccc calc(100% - 1px), #999999 calc(100% - 1px));
}

.even {
  background: linear-gradient(#eeeeee 1px, #aaaaaa 1px, #aaaaaa calc(100% - 1px), #999999 calc(100% - 1px));
}

[class*='prop__'] {
  float: left;
  position: relative;
  padding: .5em 1em;
  width: 15%;	/*<!-- 每一個項目 -->*/
}
[class*='prop__']:first-child {
  width: 10%;	/*<!-- 第一個項目 -->*/
}
[class*='prop__']:last-child {
  width: 15%;	/*<!-- 最後一個項目 -->*/
}
[class*='prop__']:before {
  position: absolute;
  top: -.5em;
  right: 1;
  bottom: -5em;
  left: 0;
  content: "";
}
[class*='prop__']:after {
  position: absolute;
  right: .5em;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  font-size: 1.45vw; 
  font-weight: bold;
}

.raise {
  --color: #87CEFA;
  --hover: #e5ff60;
}

.firstLine {
	width: 10%;
}

button {
  color: var(--color);
  transition: 0.25s;
  cursor: pointer; 
  border-radius: .8em;
  box-shadow: 0 0 .2em #000;
  width: 5%;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 0.35vw solid;
  font: inherit;
  line-height: 0%;
  margin: 0.3em ;	/*間格距離*/
  padding: 1em 2em;
  font-size: 1.3vw; 
}

.refresh{
	margin: 0em ;
	width: 3%;
	position: absolute;
	top: 3%;
	left: 5%;
}
.refresh:hover {
	color: #87CEFA;
}
.p_refresh {
	position: absolute;
	top: 1.5%;
	right: 1.5%;	
	font-size: 1.5vw; 
}
