@font-face{
	font-family: NotoSansCJKtc-Regular;
	src: url(NotoSansCJKtc-Regular.otf);
	
	font-family: NotoSansCJKtc-Medium;
	src: url(NotoSansCJKtc-Medium.otf);
}

:root {
	--progress-bar-color: #f9e1e3;
	--progress-color: #e46a70; 
	
	--producing-color-1: #cbc634; 
	--producing-color-2: #f3f9a6;
	--error-color-1: #CD0000; 
	--error-color-2: #FF4040;
	--stop-color-1: #5a88e5; 
	--stop-color-2: #37cfdc;
	--achieveQty-color-1: #58ac30; 
	--achieveQty-color-2: #a7df62;
	--powerOff-color-1: #8968CD; 
	--powerOff-color-2: #CDB5CD;
	--original-color-1: #8B795E; 
	--original-color-2: #CDB38B;
}
@media screen and (min-width: 1800px){
    :root {
		--col: 10;
		--h1Size: 90px;
		--h5Size: 40px;
	}
}
@media screen and (min-width: 1700px) and (max-width: 1800px) {
    :root {
		--col: 9;
		--h1Size: 90px;
		--h5Size: 40px;
	}
}
@media screen and (min-width: 1500px) and (max-width: 1700px) {
    :root {
		--col: 8;
		--h1Size: 80px;
		--h5Size: 35px;
	}
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
    :root {
		--col: 7;
		--h1Size: 80px;
		--h5Size: 35px;
	}
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
    :root {
		--col: 6;
		--h1Size: 70px;
		--h5Size: 30px;
	}
}
@media screen and (min-width: 950px) and (max-width: 1100px) {
    :root {
		--col: 5;
		--h1Size: 70px;
		--h5Size: 30px;
	}
}
@media screen and (min-width: 800px) and (max-width: 950px) {
    :root {
		--col: 4;
		--h1Size: 60px;
		--h5Size: 25px;
	}
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    :root {
		--col: 3;
		--h1Size: 50px;
		--h5Size: 25px;
	}
}
@media screen and (min-width: 400px) and (max-width: 600px) {
    :root {
		--col: 2;
		--h1Size: 37px;
		--h5Size: 20px;
	}
}





body {
  background: #333;
  font-family: NotoSansCJKtc-Medium;
}

h1 {
  margin: 0.6em auto 0;
  font: 700 3em NotoSansCJKtc-Medium;
  font-size: var(--h1Size);
  color: #f1f5f6;
  text-align: center;
}

h5 {
  margin: 0 auto 2em;
  font: 400 1.3em NotoSansCJKtc-Medium;
  font-size: var(--h5Size);
  color: #f1f5f6;
  text-align: center;
}

a {
  text-decoration: none;
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(var(--col), 170px);
  grid-template-rows: repeat(10, 100px);
  grid-gap: 10px;	/*間格距離*/
  margin: auto;
  max-width: 1200px;
  justify-content: center;
}

.periodic-element {
  padding: 4px;
  position: relative;
  z-index: 1;
  cursor: default;
  transition: all 0.3s ease;
}
.periodic-element .periodic-element-inner,	
.periodic-element .periodic-element-inner-producing,
.periodic-element .periodic-element-inner-stop,
.periodic-element .periodic-element-inner-powerOff,
.periodic-element .periodic-element-inner-achieveQty,
.periodic-element .periodic-element-inner-error{
  background: #202e38;	/*格子內的顏色*/
  padding: 10px 12px;
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  transition: inherit;
}
.periodic-element .no {
  font: 1000 24px NotoSansCJKtc-Medium;
  margin-top: -0.5em;
  margin-left: -0.4em;
}
.periodic-element .status {
  font: 700 27px/1.3 NotoSansCJKtc-Medium;
  text-align: center;
  margin-top: -0.2em;
  transition: 0.8s ease 600ms;
}
.periodic-element .description {
  font: 500 15px NotoSansCJKtc-Medium;
  margin-top: -0.3em;
  text-align: center;
}
.periodic-element:after {	/*hover訊息框*/
  z-index: 10;
  content: attr(data-description);
  background: #f9f8f7;	/*訊息框內顏色*/
  color: #333;
  width: 180px;
  position: absolute;
  top: 80%;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s, top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  height: auto;
  font-size: 15px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -50px;
  border-radius: 6px;
  text-align: center;
  white-space: pre-line;	/*讓 '\n' 可以換行*/
}
.periodic-element:hover {
  transform: scale(1.12);
  z-index: 10;	/*使hover訊息框在上層*/
}
.periodic-element:hover .periodic-element-inner {	/*框內顏色*/
  background: transparent;
}
.periodic-element:hover .periodic-element-inner-producing {	/*框內顏色*/
  background: linear-gradient(to bottom right, 
			  var(--producing-color-1) 50%, 
			  var(--producing-color-2) 80%);
}
.periodic-element:hover .periodic-element-inner-stop {	/*框內顏色*/
  background: linear-gradient(to bottom right, 
			  var(--stop-color-1) 50%, 
			  var(--stop-color-2) 80%);
}
.periodic-element:hover .periodic-element-inner-powerOff {	/*框內顏色*/
  background: linear-gradient(to bottom right, 
			  var(--powerOff-color-1) 50%, 
			  var(--powerOff-color-2) 80%);
}
.periodic-element:hover .periodic-element-inner-achieveQty {	/*框內顏色*/
  background: linear-gradient(to bottom right, 
			  var(--achieveQty-color-1) 50%, 
			  var(--achieveQty-color-2) 80%);
}
.periodic-element:hover .periodic-element-inner-error {	/*框內顏色*/
  background: linear-gradient(to bottom right, 
			  var(--error-color-1) 50%, 
			  var(--error-color-2) 80%);
}

.periodic-element:hover .no,
.periodic-element:hover .status,
.periodic-element:hover .description {
  -webkit-text-fill-color: #222;	/*hover後字的顏色*/
}
.periodic-element:hover:after {
  top: 105%;	/*hover訊息框位置*/
  left: 20%; 
  opacity: 1;
}

a.periodic-element {
  cursor: pointer;
}
/*
.producing {
  background: linear-gradient(to bottom right, 
			  var(--producing-color-1) 50%, 
			  var(--producing-color-2) 80%);
}
.producing .no,
.producing .status,
.producing .description {
  background: -webkit-linear-gradient(var(--producing-color-1), var(--producing-color-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error {
  background: linear-gradient(to bottom right, 
			  var(--error-color-1) 50%, 
			  var(--error-color-2) 80%);
}
.error .no,
.error .status,
.error .description {
  background: -webkit-linear-gradient(var(--error-color-1), var(--error-color-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stop {
  background: linear-gradient(to bottom right, 
			  var(--stop-color-1) 50%, 
			  var(--stop-color-2) 80%);
}
.stop .no,
.stop .status,
.stop .description {
  background: -webkit-linear-gradient(var(--stop-color-1), var(--stop-color-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.powerOff {
  background: linear-gradient(to bottom right, 
			  var(--powerOff-color-1) 50%, 
			  var(--powerOff-color-2) 80%);
}
.powerOff .no,
.powerOff .status,
.powerOff .description {
  background: -webkit-linear-gradient(var(--powerOff-color-1), var(--powerOff-color-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.achieveQty {
  background: linear-gradient(to bottom right, 
			  var(--achieveQty-color-1) 50%, 
			  var(--achieveQty-color-2) 80%);
}
.achieveQty .no,
.achieveQty .status,
.achieveQty .description {
  background: -webkit-linear-gradient(var(--achieveQty-color-1), var(--achieveQty-color-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/
.original {
  background: linear-gradient(to bottom right, 
			  var(--original-color-1) 50%, 
			  var(--original-color-2) 80%);
}
.original .no,
.original .status,
.original .description {
  background: -webkit-linear-gradient(var(--original-color-1), var(--original-color-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.original .no-producing,
.original .status-producing{
  background: -webkit-linear-gradient(var(--producing-color-1), var(--producing-color-2));	
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.original .no-stop,
.original .status-stop{
  background: -webkit-linear-gradient(var(--stop-color-1), var(--stop-color-2));	
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.original .no-powerOff,
.original .status-powerOff{
  background: -webkit-linear-gradient(var(--powerOff-color-1), var(--powerOff-color-2));	
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.original .no-achieveQty,
.original .status-achieveQty{
  background: -webkit-linear-gradient(var(--achieveQty-color-1), var(--achieveQty-color-2));	
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.original .no-error,
.original .status-error{
  background: -webkit-linear-gradient(var(--error-color-1), var(--error-color-2));	
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
	
.legend-table {
  padding: 15px;
  text-align: center;
  font-size: 35px;
  margin: 0.5em auto 0;
}
.legend-table__marker {
  width: 35px;
  height: 35px;
  margin: 5px 5px 10px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0.5px 1px rgba(0, 0, 0, 0.15);
}
.legend-table__text {
  display: inline-block;
  vertical-align: middle;
  margin: 0 25px 5px 5px;
  background: -webkit-linear-gradient(#ccc, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.legend-table__direction {
  display: inline-block;
  margin: 10px 15px 10px 10px;
  background: -webkit-linear-gradient(#ccc, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.producing {
  background: linear-gradient(to bottom right, 
			  var(--producing-color-1) 50%, 
			  var(--producing-color-2) 80%);
}
.error {
  background: linear-gradient(to bottom right, 
			  var(--error-color-1) 50%, 
			  var(--error-color-2) 80%);
}
.stop {
  background: linear-gradient(to bottom right, 
			  var(--stop-color-1) 50%, 
			  var(--stop-color-2) 80%);
}
.powerOff {
  background: linear-gradient(to bottom right, 
			  var(--powerOff-color-1) 50%, 
			  var(--powerOff-color-2) 80%);
}
.achieveQty {
  background: linear-gradient(to bottom right, 
			  var(--achieveQty-color-1) 50%, 
			  var(--achieveQty-color-2) 80%);
}

.empty-spacer-1 {
  grid-column: 1; /* / span 4; */
  grid-row: 1;
}



.progress-bar{
            /* 進度條的槽 */
            width:100%;
            /* 設置進度條的高度 */
            height: 21px;
            /* 進度條外層div的背景色，進度未達到的地方的顏色 */
            background-color: var(--progress-bar-color);
            border-radius: 3px;
			margin-top: 0em;
        }
        .progress-1{
            /* 進度部分 */
            /* 利用繼承父元素寬度的百分比控制進度 */
            width: 0%;
            height: 100%;
            /* 內層背景色即進度達到的顏色 */
            background-color: var(--progress-color);
            border-radius: 3px;
        }
		.progress-2{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-3{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-4{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-5{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-6{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-7{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-8{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-9{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-10{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-11{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-12{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-13{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-14{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-15{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-16{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-17{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-18{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-19{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-20{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-21{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-22{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-23{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-24{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-25{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-26{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-27{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-28{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-29{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-30{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-31{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-32{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-33{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-34{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-35{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-36{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-37{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-38{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-39{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-40{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-41{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-42{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-43{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-44{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-45{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-46{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-47{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-48{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-49{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-50{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-51{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-52{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-53{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-54{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-55{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-56{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-57{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-58{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-59{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-60{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-61{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-62{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-63{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-64{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-65{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-66{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-67{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-68{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-69{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-70{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-71{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-72{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-73{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-74{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-75{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-76{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-77{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-78{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-79{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-80{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-81{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-82{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-83{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-84{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-85{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-86{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-87{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-88{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-89{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-90{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-91{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-92{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-93{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-94{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-95{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-96{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-97{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-98{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-99{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		
		
		/* 測試資料 */
		/*
		.progress-2{
			width: 46%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-3{
			width: 99%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-4{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-5{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-6{
			width: 10%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-7{
			width: 5%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-8{
			width: 88%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-9{
			width: 38%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-10{
			width: 87%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-11{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-12{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-13{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-14{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-15{
			width: 57%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-16{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-17{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-18{
			width: 7%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-19{
			width: 89%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-20{
			width: 99%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-21{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-22{
			width: 77%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-23{
			width: 1%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-24{
			width: 74%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-25{
			width: 66%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-26{
			width: 87%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-27{
			width: 14%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-28{
			width: 79%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-29{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-30{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-31{
			width: 48%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-32{
			width: 32%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-33{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-34{
			width: 98%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-35{
			width: 5%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-36{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-37{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-38{
			width: 8%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-39{
			width: 44%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-40{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-41{
			width: 90%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-42{
			width: 32%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-43{
			width: 69%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-44{
			width: 80%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-45{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-46{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-47{
			width: 8%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-48{
			width: 7%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-49{
			width: 49%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-50{
			width: 98%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-51{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-52{
			width: 8%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-53{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-54{
			width: 80%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-55{
			width: 23%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-56{
			width: 74%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-57{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-58{
			width: 45%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-59{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-60{
			width: 32%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-61{
			width: 88%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-62{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-63{
			width: 30%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-64{
			width: 10%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-65{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-66{
			width: 77%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-67{
			width: 60%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-68{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-69{
			width: 78%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-70{
			width: 8%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-71{
			width: 99%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-72{
			width: 15%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-73{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-74{
			width: 80%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-75{
			width: 40%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-76{
			width: 36%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-77{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-78{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-79{
			width: 5%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-80{
			width: 50%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-81{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-82{
			width: 20%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-83{
			width: 90%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-84{
			width: 9%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-85{
			width: 87%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-86{
			width: 87%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-87{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-88{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-89{
			width: 68%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-90{
			width: 30%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-91{
			width: 66%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-92{
			width: 20%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-93{
			width: 5%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-94{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-95{
			width: 68%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-96{
			width: 100%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-97{
			width: 0%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-98{
			width: 9%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		.progress-99{
			width: 88%;	height: 100%; background-color: var(--progress-color); border-radius: 3px;
		}
		*/